* {
 box-sizing: border-box;
 font-family: sans-serif;
}
form {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
}
.main {
 margin-top: 5rem;
 width: 300px;
 max-height: 450px;
 padding: 1rem;
 background-color: aliceblue;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 0.5rem;
 border-radius: 1rem;
}
.heading {
 text-align: center;
 margin-bottom: 1rem;
 display: flex;
 gap: 0.5rem;
}
.heading Link {
 font-weight: 900;
}

input {
 padding: 0.5rem;
 background-color: rgb(223, 222, 222);
 border-radius: 0.5rem;
 width: 100%;
 font-size: small;
}
.pass {
 margin: 0 0 auto 0;
}

.submit input {
 color: rgb(68, 68, 68);
 background-color: aquamarine;
 border: none;
 font-size: medium;
 cursor: pointer;
 font-weight: 600;
 width: fit-content;
 padding: 0.5rem 1rem;
 justify-self: center;
}
.alert {
 font-size: 0.8rem;
 text-align: center;
 display: flex;
 gap: 0.5rem;
}
.alert p {
 text-align: center;
 color: green;
 width: 100%;
}
label {
 text-transform: capitalize;
 font-size: small;
}
.foot {
 text-align: center;
}
.foot p {
 font-size: small;
 display: flex;
 color: #000;
}
